@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.OMS.MdmService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.OMS.MdmService.Web.Pages.CompanyIdentityUserAssignments
@using DMSpro.OMS.MdmService.CompanyIdentityUserAssignments;
@using System.Globalization
@inject IHtmlLocalizer<MdmServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CompanyIdentityUserAssignments/CreateModal" autocomplete="off">
    <abp-modal id="CompanyIdentityUserAssignmentCreateModal">
        <abp-modal-header title="@L["NewCompanyIdentityUserAssignment"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="CompanyIdentityUserAssignment.IdentityUserId" />

                                <abp-select asp-for="CompanyIdentityUserAssignment.CompanyId" asp-items="Model.CompanyLookupListRequired" label="@L["Company"].Value"/>
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>